body{ 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0% ;
    padding: 0%;
}

.main_form{
    background-color: antiquewhite;
    height: 900px;
}

h1{
    margin-top:0% ;
    padding: 20px;
}

.form_list{
    list-style-type: none;
}