/*-------- contenedor 1 ----- */

.contenedor-1{
    color: rgb(8, 0, 2);
    display: flex;
    padding:50px;
    h1{
        font-weight: bold;
        color: #6d445d;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 45px;
        text-align: center;

    }
}

.contenedor-perfil{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}

.contenedor-titulos{
    margin: 10px;
    display: flex;
    justify-content: center;

}

.titulo{
    color:rgb(58, 4, 35);
    font-size: 18px;
    margin: 20px;
    text-wrap: balance;
}

.contenedor-botones{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton-perfil{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 26, 43);
    border: 0.1px solid rgb(17, 2, 15);
    padding: 5px;
    border-radius: 5px;
}


@media screen and (max-width:850px) {
    .contenedor-1{
        color: rgb(39, 39, 39);
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .contenedor-perfil{
        margin-top: 50px;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-size: 40px;
        }
    }
    
    .contenedor-imagen{
        width: 100%;
    }

    .contenedor-titulos{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
    }

    .titulo{
        font-size: 16px;
    }
    
    
    .contenedor-botones{
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .boton-perfil{
        padding: 5px;
    }
}


