/*---------- Contenedor 2.5 --------*/

.contenedor-listas{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: rgba(250, 235, 215, 0.418);
}

.titulo-lista{
    color: black;
    text-align: center;
}

.contenedor-flechas{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-listas-reproduccion{
    padding: 0px 50px 25px 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-lista{
    margin: 10px;
    font-weight: bold;
}

.lista-reproduccion{
    text-align: center;
}

@media screen and (max-width:850px) {
    .contenedor-listas-reproduccion{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }
}
