/* -------- Contenedor 2 -------- */

.contenedor-2{
    background-color: rgba(250, 235, 215, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
    color: black;
}

.imagen-ma-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor-eslogan{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    width: 50%;
}

.texto-eslogan{
    text-wrap: balance;
    text-align: center;
    font-size: 17px;
    margin: 7px;
}

@media screen and (max-width:850px) {
    .contenedor-2{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
    }
    
    .imagen-ma-2{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .contenedor-eslogan{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px;
        width: 100%;
    }
    
    .texto-eslogan{
        text-align: center;
        font-size: 17px;
        margin: 7px;
    }
}