body{
    font-family: "Noto Sans", sans-serif;
}

hr{
    margin: 0;
}

nav{
    background-color: rgb(255, 255, 255);
}

.logo_img{
    border-radius: 100px;
}

.instagram:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.facebook:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.whatsapp:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}.linkedin:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.youtube:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}

.redes_sociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.redes_sociales li{
    margin:5px;
    border-radius: 5px;
}

.redes_sociales li a{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 5px;
}

.red{
    text-decoration: none;
    padding: 5px;
}

/*-------- contenedor 1 ----- */

.contenedor-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 40, 89, 0.747);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor-imagen{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    z-index: 1;
}

.imagen-frente{
    width:300px
}

@media screen and (max-width:850px) {
    .contenedor-1{
        flex-direction: column-reverse;
    }
    .circulo{
        display: none;
    }
    .imagen-frente{
        width: 200px;
        margin-top: 20px;
    }
}

.circulo{
    height: 450px;
    width: 30%;
    position: absolute;
    background-color: rgb(253, 249, 249);
    border-radius: 0px 50px 50px 0px; 
    left: 0%;
}

.contenedor-informacion{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    height: 400px;
    z-index: 1;
    padding: 10px;
}

.contenedor-formacion{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.formacion{
    width: 50%;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.boton-contactar{
    color:  white;
    background-color: rgb(110, 48, 86);
    border: 0.5px solid white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;

}

.boton-contactar:hover{
    background-color: rgb(247, 124, 216);
    transition: 0.5s;
}
/*------ contenedor 2 ------ */

.contenedor-2{
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 500px;
    z-index: 2;
}