body{
    font-family: "Noto Sans", sans-serif;
}

hr{
    margin: 0;
}

p{
    margin: 0;
}

nav{
    background-color: rgb(255, 255, 255);
}

.logo_img{
    border-radius: 100px;
}

.instagram:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.facebook:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.whatsapp:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}.linkedin:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.youtube:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}

.redes_sociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.redes_sociales li{
    margin:5px;
    border-radius: 5px;
}

.redes_sociales li a{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 5px;
}

.red{
    text-decoration: none;
    padding: 5px;
}

/*-------- contenedor 1 ----- */

.contenedor-1{
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contenedor-perfil{
    background-color: rgb(166, 149, 184);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-titulos{
    margin: 10px;
    padding: 15px;
}

.contenedor-botones{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton-perfil{
    color: rgb(255, 255, 255);
    background-color: rgb(252, 176, 252);
    border: 0.1px solid rgb(196, 196, 196);
    padding: 5px;
}

.contenedor-imagen{
    background-color: #131313;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.imagen-ma{
    animation-name: animacion-imagen;
    animation-duration: 3s;
}

@keyframes animacion-imagen {
    from{
        transform: translatey(100%);
    }
    to{
        transform: translateX(0%);
    }
}

/* -------- Contenedor 2 -------- */

.contenedor-2{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-ma-2{
    margin: 30px;
}

.contenedor-eslogan{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.texto-eslogan{
    text-align: center;
    font-size: 13px;
    animation-name: texto-slide;
    animation-duration: 3s;
}

@keyframes texto-slide {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

