body{
    font-family: "Noto Sans", sans-serif;
}

hr{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Prompt", sans-serif;
}

p{
    margin: 0;
}

.contenedor-header-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabeador{
    background-color: rgb(255, 227, 227);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;

}

.tabs{
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    text-decoration: none;
    color: rgb(209, 146, 167);
}

.tabs:hover{
    transition: 0.8s;
    color: rgb(209, 146, 167);
    border-top: 1px solid  rgb(209,146,167);
    border-bottom: 1px solid rgb(209, 146, 167);
}


@media screen and (max-width:850px) {
    .tabs{
        font-size: 13px;
    }
}

.icon{
    padding: 10px;
}

.icon:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}

.redes_sociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 0px;
}

.redes_sociales li{
    margin:5px;
    border-radius: 5px;
}

.redes_sociales li a{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 5px;
}

.red{
    text-decoration: none;
    padding: 5px;
}

/*-------- contenedor 1 ----- */

.contenedor-1{
    color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-perfil{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding:50px;
}

.contenedor-titulos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

.contenedor-botones{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton-perfil{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 26, 43);
    border: 0.1px solid rgb(145, 145, 145);
    padding: 5px;
    border-radius: 2px;
}



@media screen and (max-width:850px) {
    .contenedor-1{
        color: rgb(39, 39, 39);
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .contenedor-perfil{
        margin-top: 50px;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contenedor-titulos{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
    }

    .titulo{
        font-size: 16px;
        margin-bottom: 30px;
        width: 50%;
    }
    
    
    .contenedor-botones{
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .boton-perfil{
        padding: 5px;
    }
    
    .contenedor-imagen{
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .imagen-ma{
        margin-top: 100px;
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
    }
    
}



/* -------- Contenedor 2 -------- */

.contenedor-2{
    background-color: rgba(250, 235, 215, 0.199);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 250px;
    padding-bottom: 250px;
    color: black;
}

.imagen-ma-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor-eslogan{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    width: 50%;
}

.texto-eslogan{
    text-wrap: balance;
    text-align: center;
    font-size: 17px;
    margin: 7px;
}

@media screen and (max-width:850px) {
    .contenedor-2{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
    }
    
    .imagen-ma-2{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .contenedor-eslogan{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px;
        width: 100%;
    }
    
    .texto-eslogan{
        text-align: center;
        font-size: 17px;
        margin: 7px;
    }
}

/*---------- Contenedor 2.5 --------*/

.contenedor-listas{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: antiquewhite;
}

.titulo-lista{
    color: black;
    text-align: center;
}

.contenedor-flechas{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-listas-reproduccion{
    padding: 0px 50px 25px 50px; 
    display: flex;
    justify-content: space-around;
}

.titulo-lista{
    margin: 10px;
    font-weight: bold;
}

.lista-reproduccion{
    text-align: center;
}

@media screen and (max-width:850px) {
    .contenedor-listas-reproduccion{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }
}

/* --------- Contenedor 3 ---------- */

.contenedor-3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-experiencia{
    margin: 75px;
    display: flex;
    flex-direction: column;
}

.separador-flecha{
    height: 20px;
    background-color: white;
    width: 1px;
    margin: 5px;
}

@media screen and (max-width:850px) {
    .contenedor-experiencia{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }
    .contenedor-trabajo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* ---- Contenedor 4 ------------ */

.contenedor-4{
    background-image: url(../img/bgc-colores.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 500px;
}

.contenedor-intro-material{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-material{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    margin: 20px;
    animation-name: animacion-archivos;
    animation-duration: 3s;
}

@keyframes animacion-archivos {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.contenedor-archivos{
    display: flex;
    color: black;
}

.boton-descarga{
    text-decoration: none;
    border: 1px solid black;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
}

/*--------- Contenedor 5 ----------- */


.contenedor-5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(92, 78, 95);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-img-contacto{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(199, 199, 199);
    padding: 60px;
}

.contenedor-contacto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.input-contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: rgb(92, 78, 95);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom :1px black solid;
    color: white;
    padding: 15px;
    width: 500px;
    outline: none;
}

@media screen and (max-width:850px) {
    .contenedor-5{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgb(92, 78, 95);
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .contenedor-img-contacto{
        display: flex;
        justify-content: center;
        background-color: rgb(216, 216, 216);
        padding: 60px;
        width: 100%;
    }
    
    .contenedor-contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .contenedor-input{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 20px;
    }
    
    .input-contact{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        background-color: rgb(92, 78, 95);
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom :1px black solid;
        color: white;
        width: 100%;
        padding: 15px;
        outline: none;
    }
}