.contenedor-header-1{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabeador{
    width: 100%;
    background-color: rgb(255, 227, 227);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.tabs{
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    text-decoration: none;
    color: rgb(209, 146, 167);
}

.tabs:hover{
    transition: 0.8s;
    color: rgb(209, 146, 167);
    border-top: 1px solid  rgb(209,146,167);
    border-bottom: 1px solid rgb(209, 146, 167);
}


@media screen and (max-width:850px) {
    .tabs{
        font-size: 12px;
    }
    .logo-mck{
        width: 100px;
    }
    .icon{
        padding: 3px;
    }
}

.icon{
    padding: 10px;
}

.icon:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}

.redes_sociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 0px;
}

.redes_sociales li{
    border-radius: 5px;
}

.redes_sociales li a{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 5px;
}

.red{
    text-decoration: none;
    padding: 5px;
}

.logo-mck{
    width: 150px;
}