body{
    margin: 0%;
    padding: 0%;
}

.div-turnos{
    color: white;
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.ver-turno{
    text-align: center;
}