*{
  margin: 0%;
  padding: 0%;
}

.App{
  background-image: url(./img/pizza\ party.png);
  background-size:contain;
  background-repeat: repeat;
  height: 844px;
}

.contenedor-principal{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.contenedor-header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: x-large;
  margin-top: 50px;
}

.h1-spicy{
  margin: 25px;
  color: rgb(61, 0, 0);
}

.logo-picante{
  width: 150px;
  animation-name: logo-animacion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes logo-animacion {
  from{
    transform: rotate(-20deg);
  }
  to{
    transform: rotate(20deg);
  }
}

.buscador{
  padding: 10px;
  width: 100%;
}

/*----- contenedor-form ---- */

.contenedor-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: rgb(37, 2, 2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}