.boton-click{
    background-color: rgb(1, 31, 0);
    color:  white;
    padding: 15px;
    margin: 5px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-reiniciar{
    background-color: rgb(0, 26, 59);
    color:  white;
    padding: 15px;
    margin: 5px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-reiniciar:hover{
    background-color: rgb(41, 44, 248);
}

.boton-click:hover{
    background-color: rgb(7, 80, 0);
}



