.contenedor-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-header{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 191, 255);
    padding: 20px;
    border-radius: 20px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

span {
    font-size: 12px;
    color: red;
}