*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: white;
    display: flex;
    justify-content: center;
}

body{
    height: 1920px;
    width: 1080px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(50, 50, 255);
}

.logo_img{
    padding: 20px;
    margin-bottom:20px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.img_promo{
    width:120px;
    border: solid black 1px;
    border-radius:5px;
}