body{
    overflow-x: hidden;
}

header{
    background-color: antiquewhite;
    font-family: 'Kanit', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main{
    background-color: rgb(252, 231, 241);
    overflow-x: hidden;
}

.nav-item{
    margin: 50px;
}

.nav-link{
    color: black;
}

.nav-item:hover{
    color: cadetblue;
    transform: scale(1.1);
    transition: 0.5s;
}

.navbar-brand{
    margin-left: 80px;
}

@media screen and (max-width:500px) {
    .nav-item{
        margin: 0px;
        padding: 10px;
    }
    .navbar-brand{
        margin-left: 0px;
    }
}

.buy{
    background-color: rgb(79, 79, 173);
    color: white;
    padding: 10px;
    border: solid black 0.5px;
    border-radius: 5px;
}

.buy:hover{
    transform: scale(1.05);
    transition: 0.5s;
    color:  rgb(79, 79, 173);
    background-color:white ;
}

/*----- div-1 ------- */

.cartel-led{
    background-color: black;
}

.marquee {
    padding: 5px;
    width: 100%;
    background-color: black;
    animation-name: cartel-led;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.palabra-oferta{
    font-weight: bolder;
    width: 100%;
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7),
    0 0 8px rgba(255, 255, 255, 0.7),
    0 0 15px rgba(255, 255, 255, 0.7);
    margin-right: 50px;
}

.palabra{
    font-weight: bolder;
    width: 100%;
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7),
    0 0 8px rgba(255, 255, 255, 0.7),
    0 0 15px rgba(255, 255, 255, 0.7);
}

.palabra-sep{
    font-weight: bolder;
    width: 100%;
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7),
    0 0 8px rgba(255, 255, 255, 0.7),
    0 0 15px rgba(255, 255, 255, 0.7);
    margin-right: 50px;
}

@keyframes cartel-led{
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

/*Responsive*/

@media screen and (max-width:1000px) {
body{
    max-width: 100%;
}

.marquee{
    display: flex;
    width: 100%;
    background-color: black;
    animation-name: cartel-led;
    animation-duration: 12s;
    animation-delay: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.palabra{
    display: flex;
    font-size: 15px;
    font-weight: bolder;
    padding-right:10px;
    width: 100%;
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7),
    0 0 8px rgba(255, 255, 255, 0.7),
    0 0 15px rgba(255, 255, 255, 0.7);
}
.palabra-sep{
    font-size: 15px;
}
}

.div-1{
    text-align: center;
}

.title{
    padding-top: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}
.tecnologia{
    margin-bottom: 0px;
    animation-name: titulo-animado;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border-bottom: 5px  solid;
    animation-direction: alternate;
    transition: 2s;
}

@keyframes titulo-animado {
    from{
    color: rgb(2, 0, 109);
    }
    to{
    color: rgb(180, 133, 182);
    }
    
}

.propo{
    width: 850px;
}

/*Responsive*/

@media screen and (max-width:900px) {
    .propo{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .title{
        font-size: 35px;
    }
}

/*----- div-2 ------- */

.div-2{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 242, 242);
    padding-bottom: 30px;
}
 
/* .fondo-title{
    display: inline-block;
    text-align: center;
    height: 70px;
    background-color: rgb(19, 72, 122);
    color: white;
    animation: fondo-scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 3px;
}

@keyframes fondo-scale {
    from{
    width: 70%;
    }
    to{
    width: 100%;
    }
}

.title-1{
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:500px) {
    .title-1{
        width: 100%;
        font-size: 20px;
    }
    .fondo-title{
        height: 70px;
    }
} */

/*------ div-3 ------*/

.div-3{
    background-color: rgb(245, 242, 242);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.link{
    text-decoration: none;
    color: black;
}

.ofertas{
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: solid 4px black;
    border-radius: 10px;
    height: 300px;
    margin: 10px;
    width: 300px;
    animation-name: border-animado;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 2s;
}

.ofertas:hover{
    transform: scale(1.05);
    transition: 0.5s;
    animation-duration: 1s;
}

@keyframes border-animado {
    from{
    border-color: rgb(92, 92, 92);
    }
    to{
    border-color: rgb(235, 235, 235);
    }
}

/*-----div-4------*/

.fondo-negro{
    background-image:url(../img/zeus-fondo.png) ;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

.fondo-blanco{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.div-4{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width:800px) {
    .fondo-blanco{
        margin: 20px;
    }
}

.titulos{
    display: flex;
    justify-content: center;
}

.title-2{
    background-color: rgb(19, 72, 122);
    color:rgb(243, 242, 242);
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    border-radius: 20px;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

/*Responsive*/

@media screen and (max-width:500px) {
    .title-2{
        font-size: 30px;
    }
}

.why-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.emoji{
    border: 2px solid black;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
}

.why{
    font-weight: bold;
}

/*------ div-5 ------ */

.div-footer{
    background-color: rgb(25, 34, 83);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.logos{
    text-align: center;
}

.equis{
    font-family: cursive;
    font-weight: bolder;
    color: white;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.icons{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(19, 72, 122);
}

.icons:hover{
    transform: scale(1.1);
    transition: 0.2s;
    color:rgb(8, 3, 56);
}

/*Responsive*/

@media screen and (max-width:500px) {
    .contact{
        font-size:small;
        padding: 15px;
    }
    .icons{
        font-size: 20px;
    }
    .img-logo{
        width: 70px;
    }
}