header{
    background-color: antiquewhite;
    font-family: 'Kanit', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main{
    background-color: rgb(252, 231, 241);
    height: 1080px;
}

.nav-item{
    margin: 50px;
}

.nav-link{
    color: black;
}

.nav-item:hover{
    color: cadetblue;
    transform: scale(1.1);
    transition: 0.5s;
}

.navbar-brand{
    margin-left: 80px;
}

@media screen and (max-width:500px) {
    .nav-item{
        margin: 0px;
        padding: 10px;
    }
    .navbar-brand{
        margin-left: 0px;
    }
}

.buy{
    background-color: rgb(79, 79, 173);
    color: white;
    padding: 10px;
    border: solid black 0.5px;
    border-radius: 5px;
}

.buy:hover{
    transform: scale(1.05);
    transition: 0.5s;
    color:  rgb(79, 79, 173);
    background-color:white ;
}

/*----- CSS HEADER ------- */

.div-1{
    text-align: center;
}

.title{
    padding-top: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}
.tecnologia{
    margin-bottom: 0px;
    animation-name: titulo-animado;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border-bottom: 5px  solid;
    animation-direction: alternate;
    transition: 2s;
}

@keyframes titulo-animado {
    from{
    width: 0%;
    color: rgb(2, 0, 109);
    }
    to{
    width: 100%;
    color: rgb(180, 133, 182);
    }
    
}

/*----- div-1 ------- */

.div-2{
    color: white;
}

/*------ div-2 ------*/
.div-3{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.fondo-title{
    display: inline-block;
    height: 90px;
    background-color: rgb(252, 231, 241);
    animation: fondo-scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 10px;
}

@keyframes fondo-scale {
    from{
    transform: rotate(0deg);
    }
    to{
    transform: rotate(-8deg);
    }
}

.title-1{
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 20px;
}

/*-----div-3------*/

.div-4{
    background-color: white;
    height: 500px;
}

/*------div-3-----*/