
/*---------css header-------*/
.col-sm-6{
    text-align: center;
}

.container{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-body{
    color: rgb(255, 255, 255);
}

.ubication{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
}

.title-ubi{
    color: white;
    margin-bottom: 20px;
}

.mapa-oficina{
    height: 500px;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

.logos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.carrito-content{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border: solid 1px;
    border-radius: 4px;
}

.total-content{
    background-color: black;
    color: #ffffff
}


.alert-header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #ffffff;
    width: 100%;
}

.delete-product{
    cursor: pointer;
}

footer p{
    font-size: small;
    text-align: center;
    margin-bottom: 0px;
    color: white;
    background-color: black;
}