
/*---------css header-------*/

body{
    background:linear-gradient(rgb(24, 23, 23), rgb(80, 0, 0), rgb(207, 160, 160));
    background-color: rgb(32, 0, 0);
}

.col-sm-6{
    text-align: center;
}

.container{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-body{
    color: rgb(255, 255, 255);
}

.ubication{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
}

.title-ubi{
    color: white;
    margin-bottom: 20px;
}

.mapa-oficina{
    height: 500px;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

.logos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.carrito-content{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.total-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: black;
    color: #ffffff
}


.alert-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #ffffff;
    width: 100%;
}

.delete-product{
    color: red;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 17px;
    margin-left: 10px;

}

footer p{
    font-size: small;
    text-align: center;
    margin-bottom: 0px;
    color: white;
    background-color: black;
}

.restar{
    font-size: larger;
    cursor: pointer;
    padding: 3px 6px;
    margin-bottom: 17px;
    margin-right: 10px;
}

.sumar{
    font-size: larger;
    cursor: pointer;
    padding: 3px 6px;
    margin-bottom: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-container{
    width: 80%;
    margin:  0 10%;
    max-height: 88vh;
    color: #ffffff;
    background-color: rgb(88, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top:12vh;
    scrollbar-color: none;
}

.close{
    display: none;
}