body{
    background-color: #ffffff;
    font-family: 'Alata', sans-serif;
}

nav{
    background-color: rgb(255, 255, 255);
}

.logo_img{
    border-radius: 100px;
}

.instagram:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.facebook:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.whatsapp:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}.linkedin:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.youtube:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo{
    margin: 10px;
}

.contenedor3{
    display: flex;
    overflow: scroll;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5px;
    padding: 10px;
}

#carouselExampleControls{
    width: 50%;
    padding: 5px;
}

.card-me{
    font-size: medium;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_me{
    background-color: aliceblue;
    border: solid 1px blue;
    border-radius: 5px;
}

.button_me:hover{
    background-color: rgb(169, 169, 252);
}


.contenedor4{
    background-color: rgb(255, 255, 255);
    width:100%;
    display: flex;
    justify-content: space-around;
}

.cards_clases{
    margin:5px;
}

.anunce {
    color: white;
    text-decoration: none;
    transition: color .5s;
  }
  
.anunce:hover {
    color: rgb(62, 28, 255);
  }

.redes_sociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.redes_sociales li{
    margin:5px;
    border-radius: 5px;
}

.redes_sociales li a{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 5px;
}

.red{
    text-decoration: none;
    padding: 5px;
}

.wpp_button{
    position:fixed;
    width:60px;
    bottom:25px;
    right:25px;
    background:#20ba5a;
    color:#ffffff;
    border-radius:50px;
    justify-content: center;
    text-align:center;
    font-size:35px;
    z-index:100;
    transition: all 300ms ease;
}

.btn-wsp i {
    color: white; /* Establecer el color del icono en blanco */
  }

.wpp_button:hover{
    background: #0e5028;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .wpp_button{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
