body{
    background-color: #ffffff;
}

nav{
    background-color: rgb(255, 255, 255);
}

.logo_img{
    border-radius: 100px;
}

.ma_promo{
margin-top: 10px;
display: flex;
align-items: center;
flex-direction: column;
} 

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video_ma{
    border:solid burlywood 0px ;
    border-radius: 5px;
    margin: 5px;
}

.anunce {
    color: white;
    text-decoration: none;
    transition: color .5s;
  }
  
.anunce:hover {
    color: rgb(62, 28, 255);
  }

.redes_sociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.redes_sociales li{
    margin:5px;
    border-radius: 5px;
}

.redes_sociales li a{
    padding: 10px;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
}

.red{
    text-decoration: none;
    padding: 5px;
}