body{
    background-color: #ffe4c4;
}

nav{
    background-color: rgb(255, 255, 255);
}

.logo_img{
    border-radius: 100px;
}

.ma_promo{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    border-top: solid 1px black;
    background-color: white;
    list-style-type: none;
} 