
/*---------css header-------*/

body{
    background-image: url(../img/fondo-la-picante.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:610px) {
    body{
        background-image: url(../img/fondo-la-picante.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

.tab{
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    text-decoration: none;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.tab:hover{
    transition: 0.8s;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.container{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.card-body{
    color: rgb(255, 255, 255);
}

.ubication{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
}

.title-ubi{
    color: white;
    margin-bottom: 20px;
}

.mapa-oficina{
    height: 350px;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

.logos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(43, 2, 2);
}


.prox{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large
}

.articulos-galeria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div-articulo{
    width: 180px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(179, 109, 109);
    padding: 0px 5px 10px 5px;
    border-radius: 5px 5px 10px 10px;
    border: solid 0.05px rgb(209, 209, 209);
    margin: 5px;

}

.div-articulo:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.img-articulo{
    border-radius: 5px 5px 0px 0px;
}

.nombre-articulo{
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(0, 0, 0);
}

.precio-articulo{
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.boton-articulo{
    font-family: 'Work Sans', sans-serif;
    background-color: bisque;
    color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

/*------ MODAL -------- */

.div-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 150px;
    left: 350px;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    height: 300px;
    background-image: url(../img/fondo-rayos.png);
    background-size: cover;
    color: white;
    animation-name: modalvolador;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes modalvolador {
    from{
    margin-top: 500px;
    margin-left: 500px;
    opacity: 0;
    }
    to{
    margin-left: 0px;
    margin-top: 0px;
    opacity: 1;
    }
}

.modal-h {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.ventana-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.descripcion-modal{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.nombre-modal{
    font-family: 'Work Sans', sans-serif;
}

.precio-modal{
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}

/*---- RESPONSIVE MEDIA QUERYS ----- */

@media screen and (max-width:800px) {
    .div-modal{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 70px;
        left: 0px;
        padding: 0px;
        border-radius: 5px;
        z-index: 1;
        height: 300px;
        background-image: url(../img/fondo-rayos.png);
        background-size: cover;
        color: white;
        animation-name: modalvolador;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    .img-articulo{
        width: 150px;
        height: 150px;
    }
    .precio-modal{
        color: black;
        font-weight: bolder;
        font-size: 20px;
    }
}