body{
    background:linear-gradient(rgb(24, 23, 23), rgb(80, 0, 0), rgb(207, 160, 160));
    background-color: rgb(32, 0, 0);
}

.tab{
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    text-decoration: none;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.tab:hover{
    transition: 0.8s;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

/*------- MAIN CSS ------*/

.galeria-eventos{
    background-image: url(../img/fondo-la-picante.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

.eventos-picante{
    width: 300px;
    height: 330px;
    font-family: 'Kanit', sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 10px;
    text-align: center;
    border: 0.5px solid black;
    border-radius: 8px;
}

@media screen and (max-width:610px) {
    .galeria-eventos{
        background-image: url(../img/fondo-la-picante.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

.eventos-picante:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    transform: translate(-4px, -4px) !important;
    box-shadow: 4px 4px 0px #121212;
    transition: transform 300ms, box-shadow 100ms ease;
}

.h-titulo{
    font-weight: bolder;
    border-top: 0.5px solid black;
}

.info-hour{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
}

.hour{
    border: 0.5px solid black;
    width: 100%;
    margin: 0;
}

.boton-carrito{
    margin: 0;
    padding: 0;
    border: 0px;
    border-radius: 0px 0px 8px 8px;
}

/*----- FOOTER ----- */

.ubication{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 50px;
}

.title-ubi{
    color: white;
    margin-bottom: 20px;
}

.mapa-oficina{
    height: 350px;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

.logos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.carrito-content{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.total-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: black;
    color: #ffffff
}


.alert-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #ffffff;
    width: 100%;
}

.delete-product{
    color: red;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 17px;
    margin-left: 10px;

}

footer{
    text-align: center;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(43, 2, 2);
}


.restar{
    font-size: larger;
    cursor: pointer;
    padding: 3px 6px;
    margin-bottom: 17px;
    margin-right: 10px;
}

.sumar{
    font-size: larger;
    cursor: pointer;
    padding: 3px 6px;
    margin-bottom: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-container{
    width: 600px;
    margin:  0 10%;
    padding: 0%;
    max-height: 88vh;
    color: #ffffff;
    background-color: rgb(88, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top:12vh;
    scrollbar-color: none;
}

@media screen and (max-width:480px){
    .modal-container{
        margin: 0%;
        padding: 0%;
        width: 350px;
        color: #ffffff;
        background-color: rgb(88, 43, 43);
        flex-direction: column;
        align-items: center;
        position: fixed;
        overflow: auto;
        z-index: 9;
        scrollbar-color: none;
    }
}

.close{
    display: none;
}