body{
    height: 1920px;
}

.sticky-header {
    font-size: larger;
    position: sticky;
    top: 0;
    z-index: 100; /* Especifica una alta z-index para asegurar que el encabezado aparezca por encima de otros elementos */
  }

.logo-pi{
    margin-right: 25%;
    padding: 15px;
}

.nav-link{
    border-radius: 10px;
}

.nav-link:hover{
    width: max-content;
    transition: .20s;
    background-color: rgb(173, 173, 173);
}

.redes_sociales{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.redes_sociales li{
    margin:5px;
    border-radius: 5px;
}

.redes_sociales li a{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 5px;
}
.instagram:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.facebook:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.whatsapp:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}.linkedin:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}
.youtube:hover{
    transition: .20s;
    background-color: rgb(173, 173, 173);
}