

.logo-pi{
    padding: 15px;
}

.nav-link{
    color: white;
    font-size: medium;
    border-radius: 10px;
}

.nav-link:hover{
    width: max-content;
    transition: .30s;
    color: rgb(252, 176, 176);
}

.redes_sociales{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    padding: 0%;
    margin-bottom: 0;
}

.redes_sociales li{
    margin-right: 5px;
    border-radius: 5px;
}

.redes_sociales li a{
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}
.instagram:hover{
    transition: .5s;
    background-color: rgb(173, 173, 173);
}

.whatsapp:hover{
    transition: .5s;
    background-color: rgb(173, 173, 173);

}
.tiktok:hover{
    transition: .5s;
    background-color: rgb(173, 173, 173);
}

.register-login{
    color: #ffffff;
    text-decoration: none;
    padding:5px;
    border-radius: 5px;
    margin-left: 60px;
    margin-right: 30px;
}

.register-login:hover{
    transition: .5s;
    color: rgb(252, 176, 176);
}

/*-----------Header--------*/

.card{
    text-align: center;
    color: white;
}

body{
    background:linear-gradient(rgb(24, 23, 23), rgb(80, 0, 0), rgb(207, 160, 160));
    background-color: rgb(32, 0, 0);
}

.precio{
    font-size: large;
}

.card{
    width: 18rem;
}

.barber-info{
    text-align: center;
    font-size: medium;
}

.container{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-us{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h2events{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 158, 158);
}

.ubication{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.title-ubi{
    color: white;
    margin-bottom: 20px;
}

.mapa-oficina{
    height: 350px;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

.logos{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

footer{
    text-align: center;
    margin-bottom: 0px;
    color: white;
    background-color: rgb(43, 2, 2);
}

.hrcut{
    color: white;
    height: 2px;
}

.ingresar-login{
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 50;
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-login{
    display: flex;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(29, 0, 0);
    border-radius: 5px;
    max-width: 350px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form-label{
    color: #ffffff;
}

.btn-reserva{
    margin-top: 10px;
    text-align: center;
}

