.header-b{
    /* 
    position: fixed;
    top:0;
    width: 100%;
    Sticky header */
    background-color: rgb(1, 5, 39);
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* body{
    background: linear-gradient( rgb(130, 169, 240),rgb(2, 2, 117));
} */

body{
    background-image: url(./img-mapas/fondonegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.botones-nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

@media screen and (max-width:500px){
    .botones-nav{
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
    }
}

.sobre-us{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.baldu{
    border-radius: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width:500px) {
    .team-name{
        font-size:small;
        margin: 10px;
        margin-top: 20px;
    }
}

.fecha-game p{
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(170, 168, 168, 0.295);
}

.tracker-games0{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    background-color: rgb(182, 180, 180);
    color: white;
    font-family: 'Outfit', sans-serif;
}

.tracker-games1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(190, 51, 51);
    color: white;
    font-family: 'Outfit', sans-serif;
}

.tracker-games2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(39, 90, 42);
    color: white;
    font-family: 'Outfit', sans-serif;
}


.h1-players{
    text-align: center;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    background-color: rgb(1, 2, 27);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:10px;
    border-radius: 5px;
    transition: transform .2s; 
}

.cards:hover {
    transform: scale(1.1); 
}

.players-img{
    border-radius: 5px;
    margin: 10px;
    width:150px;
    height:150px;
}

.tag-name{
    font-family: 'Outfit', sans-serif;
    color: white;
}

.rol-name{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: larger;
}

.vod-review{
    font-family: 'Outfit', sans-serif;
    background-color: rgba(123, 123, 243, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: medium;
    margin-bottom: 20px;
}

.v-review{
    text-decoration: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.v-review:hover{
    color: rgb(139, 139, 243);
    transition: 0.2s;
    transform: scale(1.1); 
}

.footer{
    margin-top: 50px;
    background-color: rgba(225, 223, 255, 0.466);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    .footer{
        flex-direction: column;
    }
}

.contact{
    color: white;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.fab{
    font-size: xxx-large;
    text-decoration: none;
    color: blueviolet;
    transition: transform .2s; 
}

.fab:hover{
    transform: scale(1.2); 
}